#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 75%;

  float:right;
  /* The width is the width of the web page */
}
#sidebar {
  width: 25%;
  background-color: aqua;
  height:100%;
  float: left;
}